/********* VARIABLES *********/
$theme-font: "Roboto-Regular", sans-serif;
$theme-font-medium: "Roboto-Medium", sans-serif;
$theme-font-semibold: "Roboto-SemiBold", sans-serif;

$white: #fff;
$black: #000;
$gray: #89919e;
$blue: #00396c;
$theme-black: #30353e;
$orange: #eb6e00;
$bg-white: #edf2f6;
$active-color:#064E8F;